body {
  overflow-x: hidden;
  background-color: rgb(236,244,244);
}
.header {
   width: 100%;
   height: 160px;
  background-image: url('https://mcdn.wallpapersafari.com/medium/29/73/4kTn7x.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  justify-content: center;
  margin-bottom: -20px;
 
}

.jobs-container {
  margin-top: 40px;
  background-color: rgb(236,244,244);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 40px;
}

